.btn-back {
    width: auto;
    font-size: large;
    background-color: unset;
    border: unset;
    outline: unset;
    margin-bottom: 0;
    color: black;
    cursor: pointer;
}

.btn-show-more {
    margin-top: 20px;
    margin-left: 30px;
    padding: 5px 20px;
    background-color: $primary-lvl-2;
    color: $primary-lvl-1;
}