// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
// ----- Font family-----
// $ffamily_primary: 'Open Sans';
// $ffamily_accent: 'Raleway';

// ----- Font size-----
$fsize_primary: 12px;

// ----- Colors [LIGHT] -----

// $hover: #6B9BFF;

$primary_lvl_1: white;
$primary_lvl_2: #343a40;

// $neutral_lvl_1: hsl(240, 75%, 98%);
// $neutral_lvl_1: #F8F8FE;
// $neutral_lvl_2: hsl(0, 0%, 75%);

// $accent_prim:  hsl(224, 93%, 58%);
// $accent_sec: hsl(170, 45%, 43%);
